<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.main_01">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main_01"
        tools:targetApi="31">
        <activity
            android:name=".shorts.ShortsDancer3Profile"
            android:exported="false" />
        <activity
            android:name=".shorts.ShortsDancer2Profile"
            android:exported="false" />
        <activity
            android:name=".shorts.Portfolio_playview"
            android:exported="false" />
        <activity
            android:name=".apply.Apply_popup"
            android:exported="false" />
        <activity
            android:name=".apply.Apply_3"
            android:exported="false" />
        <activity
            android:name=".apply.Apply1_bottomsheet"
            android:exported="false" />
        <activity
            android:name=".apply_C7.Apply_C7"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home.Home_item_3"
            android:exported="false" />
        <activity
            android:name=".Home.Home_item_2"
            android:exported="false" />
        <activity
            android:name=".Home.Home_item_1"
            android:exported="false" />
        <activity
            android:name=".map.Map_1"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJVU6Z11OK-VphK2CLyfAG2YqluBwehQU" />

        <activity
            android:name=".map.Map_0"
            android:exported="false"
            android:label="@string/title_activity_map0" />
        <activity
            android:name=".onboarding.TypeTest_7"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".apply.Apply_2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".apply.Apply_1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".apply.Apply_0"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageLikelist"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageClass"
            android:exported="false" />
        <activity
            android:name=".shorts.ShortsDancer1Profile"
            android:exported="false" />
        <activity
            android:name=".mypage.MyTypeInfo"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPage"
            android:exported="false" />
        <activity
            android:name=".shorts.shorts1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.TypeTest_11"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash.Splash_1"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash.Splash_0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.TypeTest_10"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.TypeTest_9"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.TypeTest_8"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.TypeTest_6"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.TypeTest_5"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.TypeTest_4"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".onboarding.TypeTest_3">

            <!-- android:exported="false"> -->
            <!-- <meta-data -->
            <!-- android:name="android.app.lib_name" -->
            <!-- android:value="" />     이거 지우니까 액티비티 전환 됨 멍미 -->
        </activity>
        <activity android:name=".onboarding.TypeTest_2" />
        <activity android:name=".onboarding.TypeTest_1" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>